/* Global css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.pl-ent {
    color: #7ee787;
}

.pl-e,
.pl-en {
    color: #d2a8ff;
}

.pl-s {
    color: #a5d6ff;
}

.pl-s1 {
    color: #fff;
}

.pl-k {
    color: #ff7b72;
}

.pl-c1 {
    color: #79c0ff;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.skeleton-shimmer {
    position: relative;
    overflow: hidden;
}

.skeleton-shimmer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.6) 50%,
            rgba(255, 255, 255, 0) 100%);
    animation: shimmer 1.5s infinite;
}